
<body>
  <nav class="navbar navbar-expand-lg  navarcolor">
    <div class="container nav">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink=""(click)="home()">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)=" Quienessomos()">quienes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="contactenos()">contactenos </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Registrarse()">Registrase </a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
  <div class="imagenes">
    <div class="containerp">
      <div class="row">
        <div class="col">
          <h1>Visión</h1>
          <p>
           La vision es el destino al que una empresa quiere llegar.En este sentido, establece los paramentros para la toma de decisiones de una empresa, las inversiones nesesarias y la forma de definir estrategias.   </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1>Misión</h1>
          <p>
           La Misíon define el propsito de la existencia de la empresa y lo que diferencia de las demás. En otras palabras, tiene que ver como la propuesta de valor de un negocio  </p>
        </div>
      </div>
    </div>

    <div  class="mision"></div>
  </div>
  <div class="menu"> </div>
  <div class="container-register"></div>
</body>



