
@import '~bootstrap/dist/css/bootstrap.min.css';
.navbar {
  background-color: #a7a7a7;

}
.navbar-toggler{
  background-color: #a7a7a7;
}
.collapse{
  background-color: #a7a7a7;
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;
}
body{
  background-image: url('src/assets/images/fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 100vh;
  opacity: 0.89;}

  .imagenes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }

  .img, .image-map {
    flex: 1;
  height: 80vh;
  max-width: 40%;
  margin-top:1% ;

  background-repeat: no-repeat;
  background-size: cover;
  }


  .image-map {
    flex: 0.9;
    height: 10vh;
    max-width: 5%;
    background-image: url('src/assets/images/pumajpg.jpg');
    margin: 0 auto;

  }

.nav {
  background-color: #6c757d;
}

.navbar-nav .nav-item {
  margin-right: 40px;
}

.navbar-nav .nav-link {
  color: #131212;
  padding: 8px 15px;
}
.containerp {
  margin: 0 auto;
  margin-top: 39%;
   max-width: 400px;
}

p {

  text-align: center;
  color: #000; }

  .containerlogin {
    padding: 20px;
    max-width: 400px;
    margin-left: 40px auto;
    margin-top: 70px ;
    background-color: transparent;
  }

  .form-group{
    color: #000;
    font-weight: bold;
  }
.buttons{
  margin-left: 28%;
}
.contraseña{
  text-align: center;
  color: #000;
  margin-left: 28%;
}


.containermulti {
  position: absolute;
  margin-left: 18px;
  text-align: center;
  margin-top: 34px auto;
  top: 30%;
  left: 75%;
}

.puma-image {
  position: absolute;
  height: 170px;
  width: 300px;
  top:36%;
  left: 70%;
  background-image: url('src/assets/images/pumajpg.jpg');
  background-size: cover;
  margin-left: 20px;

}
