
<body>
  <nav class="navbar navbar-expand-lg  navarcolor">
    <div class="container nav">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink=""(click)="home()">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)=" Quienessomos()">quienes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="contactenos()">contactenos </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Registrarse()">Registrase </a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="containerp">
          <div class="direccion-correo">
            <p class="direccion">
              Vereda el cofre, Parcelacion la Margarita, Finca Santa Maria, Casa 1, Popayán, Cauca 190002, CO
            </p>
            <a href="mailto:comunicaciones@cdtcreatic.com" class="correo">Comunicaciones@cdtcreatic.com</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="imagenes">
          <div class="image-map"></div>
        </div>
      </div>
    </div>
  </div>
</body>
